<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" path="customErrors\404.htm" responseMode="File" />
            <error statusCode="500" subStatusCode="-1" path="customErrors\500.htm" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
