h1 {
	width: 850px;
	margin-top: .15em;
	font-size: 1.5em
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1em
}
h4 {
	font-size: 1em;
}
.paragliding-training-centerCopy {
	padding: 0px;
	margin: 0px;
	font-style: italic;
	color: #000000;
	font-size: 1.8em;
	font-weight: bold;
}
.southwest-airsports {
	padding: 0px;
	margin: 0px;
	font-size: 2.75em;
	font-weight: bold;
	color: #3333CC;
	height: 50px;
}
.text-1dot4em {
	font-size: 1.4em;
	font-weight: bold;
}
