  /* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#masthead {
	width: 800px;
	height: 140px;
	margin-right: auto;
	margin-left: auto;
}
#top_nav {
	padding: 0em;
	margin: 1em auto 1em auto;
	list-style-type: none;
	color: #000000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #AFC1C5;
	width: 1150px;
	height: 50px;
}
#top_nav ul {
	color: #000000;
	margin: 0em auto 0em auto;
	position: relative;
	height: 30px;
	top: 15px;
	list-style-type: none;
}
#top_nav li {
	display: inline;
}
#top_nav a:link {
	color: #000080;
	padding-right: .5em;
	padding-left: .5em;
	text-decoration: none;
}
#top_nav a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#top_nav a:hover {
	text-decoration: underline;
}

#container {
	min-width: 600px;
}

#left_col {
	width: 200px;
	float: left;
}
#page_content {
	margin-left: auto;
	width: 640px;
	margin-right: auto;
	position: relative;
}

#footer {
	clear: both;
}